<div class="container mt-5">
    <h2>Ajouter un Manga :</h2>
    <form [formGroup]="mangaForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="idManga">Manga ID:</label>
            <input id="idManga" formControlName="idManga" required class="form-control">
            <div *ngIf="mangaForm.get('idManga')?.invalid && (mangaForm.get('idManga')?.touched || mangaForm.get('idManga')?.dirty)" class="text-danger">
                <small *ngIf="mangaForm.get('idManga')?.errors?.['required']">Manga ID is required.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="nomManga">Nom Manga:</label>
            <input id="nomManga" formControlName="nomManga" required class="form-control">
            <div *ngIf="mangaForm.get('nomManga')?.invalid && (mangaForm.get('nomManga')?.touched || mangaForm.get('nomManga')?.dirty)" class="text-danger">
                <small *ngIf="mangaForm.get('nomManga')?.errors?.['required']">Nom Manga is required.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="mangakaManga">Nom Mangaka:</label>
            <input id="mangakaManga" formControlName="mangakaManga" required class="form-control">
            <div *ngIf="mangaForm.get('mangakaManga')?.invalid && (mangaForm.get('mangakaManga')?.touched || mangaForm.get('mangakaManga')?.dirty)" class="text-danger">
                <small *ngIf="mangaForm.get('mangakaManga')?.errors?.['required']">Nom Mangaka is required.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="salaireManga">Prix Manga:</label>
            <input id="salaireManga" type="number" formControlName="salaireManga" required class="form-control">
            <div *ngIf="mangaForm.get('salaireManga')?.invalid && (mangaForm.get('salaireManga')?.touched || mangaForm.get('salaireManga')?.dirty)" class="text-danger">
                <small *ngIf="mangaForm.get('salaireManga')?.errors?.['required']">Prix Manga is required.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="dateCreation">Date création:</label>
            <input id="dateCreation" type="date" formControlName="dateCreation" required class="form-control">
            <div *ngIf="mangaForm.get('dateCreation')?.invalid && (mangaForm.get('dateCreation')?.touched || mangaForm.get('dateCreation')?.dirty)" class="text-danger">
                <small *ngIf="mangaForm.get('dateCreation')?.errors?.['required']">Date création is required.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="demographique">Demographique:</label>
            <select id="demographique" formControlName="demographique" required class="form-control">
                <option value="" disabled selected>Sélectionnez une catégorie</option>
                <option *ngFor="let cat of demographique" [value]="cat.idCat">{{ cat.nomCat }}</option>
            </select>
            <div *ngIf="mangaForm.get('demographique')?.invalid && (mangaForm.get('demographique')?.touched || mangaForm.get('demographique')?.dirty)" class="text-danger">
                <small *ngIf="mangaForm.get('demographique')?.errors?.['required']">Please select a category.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" type="email" formControlName="email" required class="form-control">
            <div *ngIf="mangaForm.get('email')?.invalid && (mangaForm.get('email')?.touched || mangaForm.get('email')?.dirty)" class="text-danger">
                <small *ngIf="mangaForm.get('email')?.errors?.['required']">Email is required.</small>
                <small *ngIf="mangaForm.get('email')?.errors?.['email']">Invalid email format.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" type="password" formControlName="password" required class="form-control">
            <div *ngIf="mangaForm.get('password')?.invalid && (mangaForm.get('password')?.touched || mangaForm.get('password')?.dirty)" class="text-danger">
                <small *ngIf="mangaForm.get('password')?.errors?.['required']">Password is required.</small>
                <small *ngIf="mangaForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="mangaForm.invalid">Ajouter</button>
    </form>
</div>

  
  